* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

#navList {
  width: 100%;
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.container {
  height: 100%;
  width: 100%;
  overflow-x: none;
}

nav {
  width: 100%;
}

.navContainer {
  width: 100vw;
  /* background-color: rgba(113, 113, 154, 0.776); */
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#poo {
  font-size: 2.8rem;
  color: purple;
  letter-spacing: 10px;
}

a {
  text-decoration: none;
  color: rgb(47, 78, 235);
}

a:link {
  /* Unvisited link */
  color: rgb(27, 200, 219);
}

a:visited {
  /* Visited link */
  color: rgb(222, 37, 222);
}

a:hover {
  /* When hovering over the link */
  color: rgb(193, 193, 193);
}

a:active {
  /* While the link is being clicked */
  color: rgb(22, 229, 112);
}

#item {
  display: flex;
  gap: 40px;
}

body {
  background-image: linear-gradient(135deg, #ff6fd8 10%, #3813c2 100%);
}

.footer {
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  color: #fdeff9;
  min-height: 25px;
}

.footer p {
  color: #fdeff9;
  font-size: 20px;
}

.box {
  width: 50%;
  margin: auto;
  border: 1px solid black;
  background-color: BLACK;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 3rem;
  box-shadow: 3px 3px 30px black;
}

.item {
  display: flex;
  flex-direction: row;
}

.right img {
  height: 237px;
  width: 300px;
  border-radius: 20px;
}
.right2 img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#u {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#passo {
  font-size: 1.3rem;
}

#passa {
  font-size: 1.3rem;
}

.right:hover {
  transform: scale(1.3);
  transition-property: all;
  transition-duration: 0.21s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.right2:hover {
  transform: scale(1.3);
  transition-property: all;
  transition-duration: 0.21s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.right {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.right .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(85, 80, 80, 0.4);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.21s;
  transition-timing-function: linear;
  transition-delay: 0s;
  box-shadow: 1px 1px 100px black;
}

.right:hover .overlay {
  opacity: 1;
}
.right .overlay span {
  color: white;
}
.right2 {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.right2 .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(85, 80, 80, 0.4);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.21s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.right2 .overlay span {
  color: white;
}
.right2:hover .overlay {
  opacity: 1;
}


li{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aquamarine;
}

h2{
  color: rgb(230, 179, 85);
  font-size: large;

}

h2:hover{
  color: #ec38bc;
}

